.py-5.text-center
  %h1= ENV['APP_NAME']
  %h2 Parties
  %table.table{ border: '1px' }
    %tr
      %th ID
      %th UID
      %th Firstname
      %th Lastname
      %th Date of birth
      %th 
    - @parties.each do |party|
      %tr
        %td= party.id
        %td= party.uid
        %td= party.first_name
        %td= party.last_name
        %td= party.date_of_birth
        %td
          %button.btn.btn-sm.btn-primary{ type: 'button' } Change name
          %button.btn.btn-sm.btn-primary{ type: 'button' } Change DOB

  =button_to 'Create new party', { controller: 'party', action: 'create' }, { class: 'btn btn-sm btn-primary' }



