%h1= ENV['APP_NAME']
%h2 Parties
%table{ border: '1px' }
  %tr
    %th ID
    %th UID
    %th Firstname
    %th Lastname
    %th Date of birth
  - @parties.each do |party|
    %tr
      %th= party.id
      %th= party.uid
      %th= party.first_name
      %th= party.last_name
      %th= party.date_of_birth




