.py-5.text-center
  %h1= ENV['APP_NAME']
  %h2 Parties
  %table.table.table-striped
    %tr
      %th ID
      %th UID
      %th Firstname
      %th Lastname
      %th Date of birth
      %th Created
      %th Modified
      %th 
    - @parties.each do |party|
      %tr
        %td= party.id
        %td= party.uid
        %td= party.first_name
        %td= party.last_name
        %td= party.date_of_birth
        %td= party.created_at
        %td= party.updated_at
        %td
          =link_to 'Change', party_change_path(party), { class: 'btn btn-sm btn-primary' }

  =button_to 'Create new party', { controller: 'party', action: 'create' }, { class: 'btn btn-sm btn-primary' }



